@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

#home,
#about,
#students,
#crs,
#toppers,
#photo-gallery,
#contact {
  scroll-margin-top: 4rem;
}

.bg-grid {
  background-image:
    linear-gradient(rgba(229, 231, 235, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(229, 231, 235, 0.3) 1px, transparent 1px);
  background-size: 40px 40px;
}

@media (max-width: 640px) {
  .bg-grid {
    background-image:
      linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
      linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px);
  }
}
